body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(187, 187, 187);
	background-color: rgb(32, 32, 32);
}

h1 {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: top;
	background-color: rgb(233, 112, 229);
	color: white;
	padding: 3rem 3rem 1rem;
}

#personal-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#personal-details p, .greetings {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

nav {
	display: flex;
	gap: 3rem;
	font-size: 1.2rem;
	font-weight: 500;
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav a:hover {
	color: white;
	font-weight: bolder;
	text-decoration: underline;
}

main {
	padding: 3rem;
}

#about-me {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

#about-me, #skills, #projects, #recommendations {
	padding: 1.3rem;
}

.greetings {
	font-size: 3rem;
}

.greetings, .section-heading, .projects-heading, .recommendations-heading {
	color: rgb(233, 112, 229);
	font-weight: bolder;
}

.section-heading, .projects-heading, .recommendations-heading {
	font-size: 2.5rem;
}

.about-details {
	width: 60%;
}

figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 350px;
	
}

#software-engineer_icon {
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
}


.skills-card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5rem;
	font-size: 0.8rem;
}

.skills-card li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
	border-radius: 0.5rem;
	border: 2px solid grey;
	box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

.skills-card li span {
	font-size: 1rem;
	font-weight: bold;
}

.projects-container {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	font-weight: bolder;
}

.project-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: lighter;
}

.project-description span {
	border: 1px solid grey;
	width: 75%;
}

.project-description p {
	width: 90%;
}

.projects-container p {
	font-size: 1rem;
}


.recommendations-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.recommendations-container li {
	border: 1px solid grey;
	padding: 2rem;
	box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.2);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: relative;
}

.recommendations-container li span {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-weight: bold;
}

.leave-recom_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	gap: 1rem;
}

.leave-recom_container h3 {
	text-align: center;
	margin: 0;
	padding: 0;
}

.leave-recom_container input, .leave-recom_container textarea {
	width: 50%;
	background-color: inherit;
	border: 1px solid grey;
	color: inherit;
	padding: 0.5rem 1rem;
}

#message {
	height: 200px;
	text-align: left;
	vertical-align: top;
}

#submit-recom {
	padding: 0.5rem 3rem;
	border-radius: 0.5rem;
	background-color: inherit;
	color: inherit;
	cursor: pointer;
	border: 1px solid rgb(233, 112, 229);
}


#backBttn {
	background: none;   /* Remove background color */
	border: none;       /* Remove border */
	padding: 0;         /* Remove padding */
	margin: 0;          /* Remove margin */
	font: inherit;      /* Inherit the font styles (size, family) */
	color: inherit;     /* Inherit the text color */
	cursor: pointer;    /* Ensure the cursor still changes to pointer on hover */
	outline: none;      /* Remove the default outline (if any) */
	box-shadow: none;   /* Remove any box shadow */
	position: fixed;
	bottom: 0;
	right: 0;
  }
  